.so-widget-ink-num-count-number-c2c39a2c57e6 .iw-so-number-title {
  color: #fe9800;
  margin-bottom: 0;
}
.so-widget-ink-num-count-number-c2c39a2c57e6 .iw-so-number-count {
  color: #fe5722;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}
.so-widget-ink-num-count-number-c2c39a2c57e6 .iw-so-number {
  padding: 30px 15px;
}