.so-widget-ink-num-count-number-2da310311971 .iw-so-number-title {
  color: #fe9800;
  margin-bottom: 0;
}
.so-widget-ink-num-count-number-2da310311971 .iw-so-number-count {
  color: #f96332;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}
.so-widget-ink-num-count-number-2da310311971 .iw-so-number {
  padding: 30px 15px;
}