.so-widget-ink-num-count-number-12fabd065b93 .iw-so-number-title {
  color: #fe9732;
  margin-bottom: 0;
}
.so-widget-ink-num-count-number-12fabd065b93 .iw-so-number-count {
  color: #f96332;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}
.so-widget-ink-num-count-number-12fabd065b93 .iw-so-number {
  padding: 30px 15px;
}